# If you're not sure what timezone you should fill in, you can look at the following list:
# https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
# Use the column that says "TZ database name".
TIMEZONE=America/Chicago
# The PleX claim token is used to connect your server to your account. It can be obtained at
# https://www.plex.tv/claim/ and is valid for 4 minutes after generating the token.
PLEX_CLAIM=
# Root folder for nfs config directory (need to mount this beforehand via fstab)
CONFIG_DIR=/nfs/docker
# Root folder for nfs data directory (need to mount this beforehand via fstab)
DATA_DIR=/nfs/data
