# If you're not sure what timezone you should fill in, you can look at the following list:
# https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
# Use the column that says "TZ database name".
TIMEZONE=America/Chicago
# Root folder for config directory
CONFIG_DIR=./volumes
# Root folder for nfs data directory (need to mount this beforehand via fstab)
# 192.168.60.206:/mnt/slow/media  /mnt/media  nfs4  defaults,_netdev  0  0
DATA_DIR=/mnt/media
# Root folder for nfs download directory (need to mount this beforehand via fstab)
# 192.168.60.206:/mnt/download/media  /mnt/download  nfs4  defaults,_netdev  0  0
DOWNLOAD_DIR=/mnt/download
